<a href="https://colab.research.google.com/github/JH-1435/ChatGPT_Python_Example/blob/master/excel_grade_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import random

# 파일명 설정
filename = "학생성적.xlsx"

# 헤더 및 데이터 생성
header = ["반", "이름", "국어", "영어", "수학"]
names = ["김철수", "김민지", "강수지", "이연희", "홍길동", "박영희", "최준혁", "이서연", "정우성", "한가인"]
data = []

for _ in range(100):
    grade = random.randint(0, 10)  # 반 (0~10)
    name = random.choice(names)  # 랜덤 이름
    korean = random.randint(0, 100)  # 국어 성적
    english = random.randint(0, 100)  # 영어 성적
    math = random.randint(0, 100)  # 수학 성적
    data.append([grade, name, korean, english, math])

# 데이터프레임 생성 및 엑셀 저장
df = pd.DataFrame(data, columns=header)
df.to_excel(filename, index=False)

print("학생 성적 엑셀 파일 생성 완료!")

학생 성적 엑셀 파일 생성 완료!

In [ ]:
import pandas as pd
import random

# 파일명 설정
filename = "학생성적_등수.xlsx"

# 헤더 및 데이터 생성
header = ["반", "이름", "국어", "영어", "수학", "총합", "전교등수"]
names = ["김철수", "김민지", "강수지", "이연희", "홍길동", "박영희", "최준혁", "이서연", "정우성", "한가인"]
data = []

for _ in range(100):
    grade = random.randint(0, 10)  # 반 (0~10)
    name = random.choice(names)  # 랜덤 이름
    korean = random.randint(0, 100)  # 국어 성적
    english = random.randint(0, 100)  # 영어 성적
    math = random.randint(0, 100)  # 수학 성적
    total = korean + english + math  # 총합 계산
    data.append([grade, name, korean, english, math, total, 0])  # 전교등수 초기값 0

# 데이터프레임 생성
df = pd.DataFrame(data, columns=header)

# 전교 등수 계산 및 정렬
df["전교등수"] = df["총합"].rank(method="min", ascending=False).astype(int)
df = df.sort_values(by="전교등수")

# 엑셀 저장
df.to_excel(filename, index=False)

print("학생 성적 등수 엑셀 파일 생성 완료!")

학생 성적 등수 엑셀 파일 생성 완료!

In [ ]:
import pandas as pd

# 엑셀 파일에서 데이터 읽기
df = pd.read_excel('학생성적_등수.xlsx', sheet_name='Sheet1')

# 전교 등수 계산
df["전교등수"] = df["총합"].rank(method="min", ascending=False).astype(int)
df = df.sort_values(by="전교등수")

# 각 과목에서 최저 및 최고 성적 찾기
min_korean_score = df["국어"].min()  # 국어 최저 점수
max_korean_score = df["국어"].max()  # 국어 최고 점수

min_english_score = df["영어"].min()  # 영어 최저 점수
max_english_score = df["영어"].max()  # 영어 최고 점수

min_math_score = df["수학"].min()  # 수학 최저 점수
max_math_score = df["수학"].max()  # 수학 최고 점수

# 중복된 학생들 찾기 (isin() 사용)
min_korean_students = df[df["국어"].isin([min_korean_score])]
max_korean_students = df[df["국어"].isin([max_korean_score])]

min_english_students = df[df["영어"].isin([min_english_score])]
max_english_students = df[df["영어"].isin([max_english_score])]

min_math_students = df[df["수학"].isin([min_math_score])]
max_math_students = df[df["수학"].isin([max_math_score])]

# 과목별 평균 계산
avg_korean = df["국어"].mean()
avg_english = df["영어"].mean()
avg_math = df["수학"].mean()

# 과목별 평균 출력
print(f"국어 평균 성적: {avg_korean:.2f}점")
print(f"영어 평균 성적: {avg_english:.2f}점")
print(f"수학 평균 성적: {avg_math:.2f}점")

# 국어 최저 및 최고 성적 학생들 출력
print(f"\n국어 최저 성적 학생들:")
for _, student in min_korean_students.iterrows():
    print(f"이름: {student['이름']} (반: {student['반']}반, 국어: {student['국어']}점)")

print(f"\n국어 최고 성적 학생들:")
for _, student in max_korean_students.iterrows():
    print(f"이름: {student['이름']} (반: {student['반']}반, 국어: {student['국어']}점)")

# 영어 최저 및 최고 성적 학생들 출력
print(f"\n영어 최저 성적 학생들:")
for _, student in min_english_students.iterrows():
    print(f"이름: {student['이름']} (반: {student['반']}반, 영어: {student['영어']}점)")

print(f"\n영어 최고 성적 학생들:")
for _, student in max_english_students.iterrows():
    print(f"이름: {student['이름']} (반: {student['반']}반, 영어: {student['영어']}점)")

# 수학 최저 및 최고 성적 학생들 출력
print(f"\n수학 최저 성적 학생들:")
for _, student in min_math_students.iterrows():
    print(f"이름: {student['이름']} (반: {student['반']}반, 수학: {student['수학']}점)")

print(f"\n수학 최고 성적 학생들:")
for _, student in max_math_students.iterrows():
    print(f"이름: {student['이름']} (반: {student['반']}반, 수학: {student['수학']}점)")

국어 평균 성적: 47.75점
영어 평균 성적: 51.56점
수학 평균 성적: 49.88점

국어 최저 성적 학생들:
이름: 박영희 (반: 8반, 국어: 0점)
이름: 이서연 (반: 0반, 국어: 0점)
이름: 정우성 (반: 7반, 국어: 0점)
이름: 이연희 (반: 5반, 국어: 0점)

국어 최고 성적 학생들:
이름: 김철수 (반: 9반, 국어: 98점)

영어 최저 성적 학생들:
이름: 한가인 (반: 6반, 영어: 3점)

영어 최고 성적 학생들:
이름: 홍길동 (반: 2반, 영어: 100점)
이름: 박영희 (반: 8반, 영어: 100점)
이름: 한가인 (반: 0반, 영어: 100점)

수학 최저 성적 학생들:
이름: 이서연 (반: 5반, 수학: 0점)

수학 최고 성적 학생들:
이름: 홍길동 (반: 6반, 수학: 100점)

In [ ]:
import pandas as pd

# 엑셀 파일에서 데이터 읽기
df = pd.read_excel('학생성적_등수.xlsx', sheet_name='Sheet1')

# 각 반별로 과목별 평균 계산
score_mean_by_class = df.groupby('반')[['국어', '영어', '수학']].mean()

# 각 열에 대해 소수점 두 자리로 포맷하기 위해 map 사용
score_mean_by_class = score_mean_by_class.apply(lambda x: x.map(lambda y: f"{y:.2f}"))

# 결과 출력
print(score_mean_by_class)

       국어     영어     수학
반
0   39.30  59.00  56.90
1   56.47  38.13  50.00
2   40.70  56.80  55.00
3   27.33  44.67  43.00
4   39.58  49.58  52.08
5   38.75  39.88  22.00
6   47.14  51.29  62.14
7   27.50  78.50  44.00
8   60.86  62.43  47.29
9   63.64  48.93  54.64
10  56.12  53.25  49.25